.perfect {
    background-color: #c5acfe;
}

.pass {
    background-color: #baffa6 !important;
}

.fail {
    color: #752121 !important;
    background-color: #e38585 !important;
/*=======*/
/*    background-color: #ffb8b8;*/
}


.tableHead {
    color: #0F0028;
    font-family: 'Space Grotesk', sans-serif;
}

.tableBody {
    font-family: 'Inter', sans-serif;
}