.accordion-button.collapsed {
    background: #743DFB;
    color: #E0E8F2;
    font-family: 'JetBrains Mono';
}

.accordion-header {
    font-family: 'JetBrains Mono';
    color: #743DFB;
}

.accordionBody {
    border-top: 2px solid #0F0028;
}

